version: 2.1
jobs:
  Core:
    docker:
      - image: satantime/puppeteer-node:16.2.0-buster-slim
    steps:
      - checkout
      - restore_cache:
          key: root-{{ checksum "package.json" }}-{{ checksum "package-lock.json" }}
      - run:
          name: Install
          command: npm install
      - run:
          name: NGCC
          command: ./node_modules/.bin/ngcc
      - save_cache:
          key: root-{{ checksum "package.json" }}-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules
      - run:
          name: Build
          command: npm run build -- --aot
workflows:
  version: 2
  build:
    jobs:
      - Core
